:root{
    --branco: white;
    --cor-de-fundo: #00162E;
    --funfo_senha: #002440;
    --fundo-texto: #001e40;
    --borda: #0076ff;
}

.parametro-senha-botoes{
    display: flex;
    justfy-content: center;
}

.parametro-senha__botao{
    background-color: var(--fundo-de-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding 24px;
    font-size: 24px;
}

.parametro-senha__texto{
    background-color: var(--fundo-texto);
    color: var(--branco);
}